*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  background-color: #cbd5da;
  width: 400px;
  height: 500px;
  border-radius: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 30px;
  margin: 10vh auto;
}

.text-holder{
  align-content: center;
  background-color: #cbd5da;
  width: 150px;
  height: 30px;
  border-radius: 5px;
}
